# Configuración del Servidor
PORT=8080

# Persistencia (MongoDB)
# Reemplaza con tu propia URI de Mongo (Local o Atlas)
MONGO_URI=mongodb://127.0.0.1:27017/tu_base_de_datos

# Seguridad y JWT
# Una palabra secreta para firmar los tokens
JWT_SECRET=coderSecretCualquierPalabra